:root {
	--footer-status-bar-heightt: 24px;
	--hover-color: theme('colors.orange.200');
	--border-color: theme('colors.slate.400');
}

html {
	overscroll-behavior: none;
	background-color: theme('colors.orange.50');
}

@media (min-width: 651px) {
	.ce-block__content {
		max-width: calc(100% - 120px) !important;
		margin: 0 60px;
	}
}

@media (min-width: 651px) {
	.ce-toolbar__content {
		width: 0px !important;
		margin: 0 60px;
	}
}

.cdx-block {
	max-width: 100% !important;
}

@media (min-width: 651px) {
	.codex-editor--narrow .ce-toolbox .ce-popover {
		left: 0;
		right: 0;
	}
}

@media (min-width: 651px) {
	.codex-editor--narrow .ce-settings .ce-popover {
		right: 0;
		left: 0;
	}
}

.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover {
  background-color: var(--hover-color);
}
